ul {
  padding-top: 5%;
  list-style-type: none;
  padding-inline-start: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  padding: 25px 0;
}

button {
  background-color:#0a0a23;
  color: #fff;
  border:none; 
  border-radius:1px; 
  min-height:30px; 
  min-width: 100px;
  margin: 5px;
  vertical-align: middle;
}

input, input[type="checkbox"]  {
  height: 30px;
  margin: 5px;
  padding: 5px;
  vertical-align: middle;
  position: relative;
}

input[type="checkbox"] {
  width: 30px;
}